@model SkiRent.Entities.DTO.EmployeeDTO

@{
	ViewBag.Title = "title";
}

@using (Html.BeginForm())
{
		<ul class="list-group">
			<li class="list-group-item cbg-blue text-white">
				<div class="row">
					<div class="col-md-9">
						@{
							if (Model.ID != 0)
							{
								<h2>Edytuj pracownika</h2>
							}
							else
							{
								<h2>Dodaj pracownika</h2>
							}
						}
						</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.FirstName)</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control " + @Html.FieldHasError(model => model.FirstName) })
						@Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "invalid-feedback" })
					</div>

					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.LastName)</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(model => model.LastName, new { @class = "form-control " + @Html.FieldHasError(model => model.LastName) })
						@Html.ValidationMessageFor(m => m.LastName, "", new { @class = "invalid-feedback" })
					</div>
				</div>
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.Address)</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(model => model.Address, new { @class = "form-control " + @Html.FieldHasError(model => model.Address) })
						@Html.ValidationMessageFor(m => m.Address, "", new { @class = "invalid-feedback" })
					</div>

					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.PhoneNumber)</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control " + @Html.FieldHasError(model => model.PhoneNumber) })
						@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "invalid-feedback" })
					</div>
				</div>
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.Salary)</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(model => model.Salary, new { @class = "form-control " + @Html.FieldHasError(model => model.Salary) })
						@Html.ValidationMessageFor(m => m.Salary, "", new { @class = "invalid-feedback" })
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.Login)</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(model => model.Login, new { @class = "form-control " + @Html.FieldHasError(model => model.Login) })
						@Html.ValidationMessageFor(m => m.Login, "", new { @class = "invalid-feedback" })
					</div>

					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.Password)</label>
					<div class="col-sm-4">
						@Html.TextBoxFor(model => model.Password, new { @class = "form-control " + @Html.FieldHasError(model => model.Password), @type = "password" })
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "invalid-feedback" })
					</div>
				</div>
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold">@Html.DisplayNameFor(model => model.IsAdmin)</label>
					<div class="col-sm-9 col-form-label">
						@Html.CheckBoxFor(model => model.IsAdmin, new { @class = "form-check-label " + @Html.FieldHasError(model => model.IsAdmin) })
						@Html.ValidationMessageFor(m => m.IsAdmin, "", new { @class = "invalid-feedback" })
					</div>
				</div>
			</li>
			<li class="list-group-item bg-light text-white">
				<div class="row">
					<div class="col-md-9"></div>
					<div class="col-md-3  text-right">
						@Html.Partial($"~/Views/Shared/_FormCancelSave.cshtml")
					</div>
				</div>
			</li>
		</ul>

}
