@using System.Activities.Statements
@using System.Web.Mvc.Html
@using SkiRent.Authorization
@using WebGrease.Css
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="cbg-light">
<header>

	<nav class="navbar navbar-expand-lg navbar-dark cbg-grey mb-3">
		<div class="container">
			@Html.ActionLink("SkiRent", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					@{
						if (@User.Identity.IsAuthenticated)
						{
							if (@User.IsInRole("Admin"))
							{
								<li>
									<a href="@Url.Action("Index", "Employee")" class="nav-link">
										<i class="fas fa-user mr-1"></i>[[[Employee management]]]
									</a>
								</li>
							}
							else
							{
								<li>
									<a href="@Url.Action("Create", "Order")" class="nav-link">
										<i class="fas fa-cart-plus mr-1"></i>[[[Add order]]]
									</a>
								</li>
								<li>
									<a href="@Url.Action("Index", "Order")" class="nav-link">
										<i class="fas fa-list mr-1"></i>[[[Orders]]]
									</a>
								</li>
								<li>
									<a href="@Url.Action("Index", "Customer")" class="nav-link">
										<i class="fas fa-users mr-1"></i>[[[Customers]]]
									</a>
								</li>
								<li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
											<i class="fas fa-warehouse mr-1"></i>[[[Items]]]
										</a>
										<div class="dropdown-menu">
                                            <a class="dropdown-item" href="@Url.Action("Index", "Item")">[[[Items]]]</a>
											<a class="dropdown-item" href="@Url.Action("Index", "Category")">[[[Categories]]]</a>
										</div>
									</li>
								</li>
							}
						}
					}
				</ul>
				<span class="navbar-text">
						<ul class="navbar-nav">
							@if (@User.Identity.IsAuthenticated)
							{
								<li>
									<a href="@Url.Action("Details", "Employee", new {id = (User.Identity as User).Name})" class="nav-link">
										<i class="fas fa-id-badge mr-1"></i>
										@((User.Identity as User).Employee.FirstName) @((User.Identity as User).Employee.LastName)
									</a>
								</li>
								<li>
									<a href="@Url.Action("Logout", "Login")" class="nav-link">
										<i class="fas fa-sign-out-alt mr-1"></i>[[[Logout]]]
									</a>
								</li>
							}
							else
							{
								<li>
                                    <a href="@Url.Action("Login", "Login")" class="nav-link">
                                        <i class="fas fa-sign-in-alt mr-2"></i>[[[Login]]]
                                    </a>
								</li>
							}
							@if (Request.Cookies["currLang"] != null && Request.Cookies["currLang"].Value != "pl")
							{
								<li>
									<a href="@Url.Action("SwitchLanguage", "Home", new { lang = "pl"})" class="nav-link">
										<img src="/Content/Images/poland-flag-icon.png"/>
									</a>
								</li>
							}
							else
							{
								<li>
									<a href="@Url.Action("SwitchLanguage", "Home", new { lang = "en"})" class="nav-link">
										<img src="/Content/Images/united-kingdom-flag-icon-16.png" />
									</a>
								</li>
							}
						</ul>
					
				</span>
			</div>
		</div>
	</nav>
</header>
<div class="container">
	@Html.MvcSiteMap().SiteMapPath()
	@RenderBody()
</div>
<footer>
	<div class="footer-copyright text-center text-white py-3 mt-3 cbg-grey">
		&copy; @DateTime.Now.Year - SkiRent
	</div>
</footer>


    @Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/toastr")
	@Html.Partial("_Toastr")
    @RenderSection("scripts", required: false)
</body>
</html>
